<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MybatisBuilder.project.settings">
    <option name="connectionInfoList">
      <list>
        <ConnectionInfo>
          <option name="database" value="" />
          <option name="description" value="study" />
          <option name="driverClass" value="" />
          <option name="driverLibrary" value="" />
          <option name="driverType" value="MySQL" />
          <option name="host" value="localhost" />
          <option name="id" value="e3f8900b30e743d79fc020b2d3c4fa4b" />
          <option name="name" value="study" />
          <option name="port" value="3306" />
          <option name="url" value="" />
          <option name="userName" value="root" />
        </ConnectionInfo>
        <ConnectionInfo>
          <option name="database" value="test" />
          <option name="description" value="aws" />
          <option name="driverClass" value="" />
          <option name="driverLibrary" value="" />
          <option name="driverType" value="MySQL" />
          <option name="host" value="ec2-18-181-87-5.ap-northeast-1.compute.amazonaws.com" />
          <option name="id" value="a92e8e9f284a4be0a2e136f99c35028a" />
          <option name="name" value="aws" />
          <option name="port" value="3306" />
          <option name="url" value="" />
          <option name="userName" value="sample_user" />
        </ConnectionInfo>
      </list>
    </option>
    <option name="defaultParameters">
      <DefaultParameters>
        <option name="renameConfig">
          <Config>
            <option name="mapperTypePattern" value="" />
            <option name="exampleTypePattern" value="" />
            <option name="sqlFileNamePattern" value="" />
          </Config>
        </option>
        <option name="selectWithLockConfig">
          <SelectWithLockConfig>
            <option name="byPrimaryKeyWithLockOverride" value="" />
            <option name="byExampleWithLockOverride" value="" />
          </SelectWithLockConfig>
        </option>
      </DefaultParameters>
    </option>
    <option name="historyMap">
      <map>
        <entry key="JAVA_CLIENT_PACKAGE">
          <value>
            <list>
              <option value="mapper" />
            </list>
          </value>
        </entry>
        <entry key="JAVA_MODEL_PACKAGE">
          <value>
            <list>
              <option value="model" />
            </list>
          </value>
        </entry>
        <entry key="SQL_MAP_PACKAGE">
          <value>
            <list>
              <option value="sqlmap" />
            </list>
          </value>
        </entry>
      </map>
    </option>
    <option name="lastGeneratorParamWrapper">
      <GeneratorParamWrapper>
        <option name="defaultTableConfigWrapper">
          <TableConfigurationWrapper>
            <option name="domainObjectRenamingRule">
              <DomainObjectRenamingRule>
                <option name="replaceString" value="" />
                <option name="searchString" value="" />
              </DomainObjectRenamingRule>
            </option>
            <option name="generatedKeyWrapper">
              <GeneratedKeyWrapper>
                <option name="column" value="" />
                <option name="identity" value="false" />
                <option name="statement" value="" />
              </GeneratedKeyWrapper>
            </option>
          </TableConfigurationWrapper>
        </option>
        <option name="javaClientConfig">
          <JavaClientGeneratorConfiguration>
            <option name="configurationType" value="XMLMAPPER" />
            <option name="targetPackage" value="mapper" />
            <option name="targetProject" value="C:\Users\go.katsuki\Desktop\workspace\WHGW\study\api-practice\src\main\java\whgw\study\apipractice" />
          </JavaClientGeneratorConfiguration>
        </option>
        <option name="javaModelConfig">
          <JavaModelGeneratorConfiguration>
            <option name="targetPackage" value="model" />
            <option name="targetProject" value="C:\Users\go.katsuki\Desktop\workspace\WHGW\study\api-practice\src\main\java\whgw\study\apipractice" />
          </JavaModelGeneratorConfiguration>
        </option>
        <option name="selectedPlugins">
          <map>
            <entry key="com.chuntung.plugin.mybatis.builder.generator.plugins.selectwithlock.SelectWithLockPlugin">
              <value>
                <PluginConfigWrapper>
                  <option name="json" value="{&quot;byPrimaryKeyWithLockOverride&quot;:&quot;&quot;,&quot;byExampleWithLockOverride&quot;:&quot;&quot;,&quot;byPrimaryKeyWithLockEnabled&quot;:true,&quot;byExampleWithLockEnabled&quot;:false}" />
                  <option name="type" value="com.chuntung.plugin.mybatis.builder.generator.plugins.selectwithlock.SelectWithLockConfig" />
                </PluginConfigWrapper>
              </value>
            </entry>
          </map>
        </option>
        <option name="selectedTables">
          <list />
        </option>
        <option name="sqlMapConfig">
          <SqlMapGeneratorConfiguration>
            <option name="targetPackage" value="sqlmap" />
            <option name="targetProject" value="C:\Users\go.katsuki\Desktop\workspace\WHGW\study\api-practice\src\main\java\whgw\study\apipractice" />
          </SqlMapGeneratorConfiguration>
        </option>
        <option name="targetRuntime" value="MyBatis3" />
      </GeneratorParamWrapper>
    </option>
    <option name="tableInfoMap">
      <map>
        <entry key="apipractice#items">
          <value>
            <TableInfo>
              <option name="database" value="apipractice" />
              <option name="domainName" value="Items" />
              <option name="tableComment" value="" />
              <option name="tableName" value="items" />
            </TableInfo>
          </value>
        </entry>
      </map>
    </option>
  </component>
</project>